body {
    background-color: whitesmoke;
    font-family: sans-serif;
	font-size: medium;
}


a:hover{
	color: #32be8f;
    background-color: transparent;
    text-decoration: underline;
}



.form-group {
	width: 60%;
	padding: 3.5% 0 0;
	margin: auto;
}

.textone {
	width: 70%;
	padding: 3.5% 0 0;
	margin: auto;
}

.boot {
	width: 100%;
	height: 100px;
	padding: 3.5% 0 0;
	margin: auto;
}

.ui form{
	width: 60%;
	margin: auto;
}

  
  .content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
  }
  
  .account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
  }
  
  .account-heading {
	font-size: 2.5rem;
  }

  .article-img {
	height: 56px;
	width: 56px;
	margin-right: 8px;
	margin-bottom: 10px;
	
  }


ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  
}
.box li a{
  color: #0072b1;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #32be8f;
}