{% extends 'base.html'%}

{% block content %}
<div class="box">
<br>
<h1> About </h1>
<h3> Kitabuk | Digital Diary </h3>

<p> This prototype digital diary exists as part of a research project aimed at understanding 
    a high-level set of guidelines to develop an engaging online 
    digital diary system to meet users’ expectations.</p>

<p>  Caregiving can be a heavy burden for many people and the emotional side of caregiving can surface soon after an individual takes on caregiving duties.
     creating a web-based diary that enables caregivers to self-report their emotions, reducing their burden and alleviating their stress, 
     is crucial for a digitised future and a caregiver's future</p>

<p> 
    My hope is that I can develop Kitabuk | Digital Diary further than this research project,
    so that it can be recognised as the go-to digital diary within the caregiver community. It is a project 
    that I am very proud of and I am excited to share it with you all.  
</p> 
   

<legend class="border-bottom mb-4"><small class="text-muted"> contact </small></ul></legend>

<ul>
    <li><a href="https://uk.linkedin.com/in/ali-atieh-22b565207"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    <li><a href="mailto: atieha@cardiff.ac.uk"><i class="fa fa-envelope-square" aria-hidden="true"></i></a></li>
</div>


{% endblock %}