{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <br>
  <br>
  <h1 align="center">{{ user.first_name }}'s Diary Entries</h1>
  <br>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <div class="media-body">
      <div class="article-metadata">
        <legend class="border-bottom mb-4"></legend>
        <img class="rounded-circle article-img" 
        src="{{ url_for('static', filename='img/' + 
        current_user.image_file) }}">
        <small class="text-muted">{{ note.date }}</small>
        <li class="list-group-item list-group-item-action"> 
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
      </div>
    </div>
    
    {% endfor %}
  </ul>
  <form method="POST">
    <div class="textone">
      <textarea name="note" id="note" class="form-control" placeholder="Type here"></textarea>
    </div>
    <br />
    <div align="center">
      <button type="submit" class="ui inverted green button">Add entry</button>
    </div>
  </form>
  {% endblock %}
  