{% extends "base.html" %} 
{% block title %}TODO list{% endblock %} {% block content%}


<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header" align="center">Todo List</h1>

    <form class="ui form" action="/add" method="post">
        <div class="field">
            <input type="text" name="title" placeholder="Enter Todo item..."><br>
        </div>
        <div align="center">
        <button class="ui inverted green button" type="submit">Add Item</button>
        </div>
    </form>

    <hr>

    {% for todo in user.todos %}
    <div class="ui segment">
        <p class="ui big header">{{ todo.title }}</p>
        <p>{{todo.date}}</p>

        {% if todo.complete == False %}
        <span class="ui gray label">Not Complete</span>
        {% else %}
        <span class="ui green label">Completed</span>
        {% endif %}
        

        <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
        <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
    </div>
    {% endfor %}
</div>
{% endblock %}